{% extends "likes/base.html" %}
{% load staticfiles %}

{% block title %}
Likes- Advertiser
{% endblock %}

{% block headingtitle %}
Advertiser Dashboard
{% endblock %}

{% block bodycontent %}
	
<div class="container">
	</br>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Image</th>
				<th>Category</th>
				<th>Description</th>
				<th>Date/Time</th>
				<th>Keywords</th>
				<th>Bid</th>
				<th>Buget</th>
				<th>Spent</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% if campaigns %}
				{% for campaign in campaigns %}
					<tr>
						<td>{{ campaign.title }}<a href="{{ campaign.link }}"><p style="font-size:90%;color:#aaa">{{ campaign.link | truncatechars:30}}</p></a></td>
						<td><img src="{% if campaign.image %}{{ campaign.image.url }}{% else %}http://placehold.it/350&text=Likes{% endif %}" style="width:50%"/></td>
						<td>{{ campaign.category }}</td>
						<td>{{ campaign.description }}</td>
						<td>{{ campaign.time }}</td>
						<td>{{ campaign.keywords }}</td>
						<td>{{ campaign.bid }}</td>
						<td>{{ campaign.budget }}</td>
						<td>{{ campaign.budget }}</td>
						<td>{% if campaign.status == 0 %}Not Running{% else %} Running{% endif %}</td>
						<td>
							<p>
								{% if campaign.status == 0 %}
									<a class="btn btn-success" href="/advertiser/activate_campaign/{{ campaign.id }}/">Activate</a>
								{% else %}
									<a class="btn btn-warning" href="/advertiser/deactivate_campaign/{{ campaign.id }}/">Deactivate</a>
								{% endif %}
									<p></p>
									<a onclick="return confirm('Are you sure?')" class="btn btn-primary" href="/advertiser/delete_campaign/{{ campaign.id }}/">Delete</a>
							</p>
						</td>
					</tr>	
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>	


<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseform">
	          Create a new campaign
	        </a>
	      </h4>
	    </div>
	    <div id="collapseform" class="panel-collapse collapse">
	      <div class="panel-body">
			<form id="campaign_form" enctype="multipart/form-data" method="post" action="/advertiser/create_campaign/" class="form-horizontal" role="form">
				{% csrf_token %}
				<div class="form-group">
					<label for="campaignformlink" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Link</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<input type="text" class="form-control" id="campaignformlink" placeholder="Enter the Link" name="link"/>
					</div>
				</div>

				<div class="form-group">
					<label for="campaignformtitle" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Title</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<input type="text" class="form-control" id="campaignformtitle" placeholder="Type Ad Title" name="title"/>
					</div>
				</div>

				<div class="form-group">
					<label for="campaignformcategory" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Category</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					    <select class="form-control" name="category">
							<option value="" disabled selected style='display:none;'>Select a Category</option>
							{% for adcategory in adcategories %}
							 	<option value="{{ adcategory }}">{{ adcategory }}</option>
							{% endfor %}
					    </select>
					</div>
				</div>

				<div class="form-group">
					<label for="campaignformimage" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Image</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<input type="file" id="campaignformimage" name="image"/>
						<p class="help-block">Please upload images only</p>
					</div>											
				</div>

				<div class="form-group">
					<label for="campaignformdescription" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Description</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<input type="text" class="form-control" id="campaignformdescription" placeholder="Type Ad Description" name="description"/>
					</div>
				</div>

				<div class="form-group">
					<label for="campaignformkeywords" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Keywords</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<input type="text" class="form-control" id="campaignformkeywords" placeholder="Type Ad Keywords" name="keywords"/>
					</div>
				</div>

				<div class="form-group">
					<label for="campaignformbid" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Bid</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<input type="number" class="form-control" id="campaignformbid" placeholder="Type Ad Bid" name="bid"/>
					</div>
				</div>

				<div class="form-group">
					<label for="campaignformbudget" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Budget</label>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<input type="number" class="form-control" id="campaignformbudget" placeholder="Type Ad Budget" name="budget"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
				    	<button type="submit" class="btn btn-default" value="submit">Create</button>
				    </div>
				</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>  	
</div>

{% endblock bodycontent %}