body {
  font-family: 'Arvo', serif;;
  padding-top: 50px;
}

footer {
  margin: 50px 0;
}

.ratings {
  margin:0px;
}

.domain {
  margin:0px;
}

.articledate {
  margin:0px;
}

.sharers {
  margin:0px;
}

